{% comment %} 
    Renders the mega-menu that appears on hover to any main link in the navbar.
 
    Usage:
    {% render 'mega-menu' %}
{% endcomment %}
<nav class="mega-menu-wrapper">
    <ul>
        {% for link in link.links %}
            <li>
                {{ link.title }}
            </li>
            <li>
                <ul>
                    {% for link in link.links %}
                        <li>{{ link.title }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</nav>