{% comment %} 
    Mega Menu for Mobiles & Tablets. Will display the correspondant links to the link the user clicked on first drawer menu. We'll be talking about links but these "links" are just our way to access the submenus of the main menu.

    Accepts:
        - Link: <String> The link the user clicked on.

    Usage:
        {% render 'mega-menu-mobile', link: link %}
{% endcomment %}
<div>
    <ul>
        
    </ul>
</div> 