{% comment %} 
    Renders the mega-menu that appears on hover to any main link in the navbar.
 
    Usage:
    {% render 'mega-menu' %}
{% endcomment %}
<nav class="header__inline-menu">
    <ul>
        <li>hola</li>
    </ul>

</nav>