<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ content_for_header }}
    <title>Store Title</title>
    <style>
        *, *::before, *:after {
            box-sizing: border-box
        }
        
        html {
            font-size: 16px;
        }

        body {
            padding: 0;
            margin: 0
        }
    </style>
</head>
<body>
        {% sections 'header-group' %}
    <main>
        {{ content_for_layout }}
    </main>

</body>
</html>