{{ 'main-collection-product-grid.css' | asset_url | stylesheet_tag }}
<div>
    {% paginate collection.products by 10 %}
        {% comment %} Sorting form first  {% endcomment %}
         
    {% endpaginate %}
</div>

{% schema %}
{
    "name": "Collection Product Grid",
    "tag": "section",
    "class": "collection-product-grid__container",
    "settings": []
}
{% endschema %}
