{{ 'main-account.css' | asset_url | stylesheet_tag }}
<div class="main-account__wrapper">

</div>

{% schema %}
{
    "name": "Main Account",
    "tag": "section",
    "class": "main-account__container",
    "settings": []
}
{% endschema %}
