{{ 'customer.css' | asset_url | stylesheet_tag }}
<div class="reset-password__wrapper">
    <h1>Reset Account Password</h1>
    <p>Enter the new password for your account</p>
    <div class="reset-password__form-wrapper">
        {% form 'reset_customer_password' %}
            {{ form.errors | default_errors }}

            <div class="reset-password__input-wrapper">
                <label for="password">Password</label>
                <input type="password" name="customer[password]" id="password">
            </div>

            <div class="reset-password__input-wrapper">
                <label for="password_confirmation">Confirm Password</label>
                <input type="password" name="customer[password_confirmation]" id="password_confirmation">
            </div>

            <div id="SubmitBtnWrapper" class="reset-password__input-wrapper">
                <button type="submit" class="submit-btn">Reset Password</button>
            </div>
        {% endform %}
    </div>
</div>

{% schema %}
{
    "name": "Reset Password",
    "tag": "section",
    "class": "reset-password__container",
    "settings": []
}
{% endschema %}
