<script src="{{ "predictive-search.js" | asset_url }}" defer></script>

<predictive-search>
  <form>
    <label for="Search">Search</label>
    <input
      id="Search"
      type="search"
      name="q"
      value="{{ search.terms | escape }}"
      role="combobox"
      aria-expanded="false"
      aria-owns="predictive-search-results"
      aria-controls="predictive-search-resulst"
      aria-haspopup="listbox"
      aria-autocomplete="list"
    >
    <input name="options[prefix]" type="hidden" value="last">

    <div id="predictive-search" tabindex="-1"></div>
  </form>
</predictive-search>
