{{ 'main-page.css' | asset_url | stylesheet_tag }}
<div class="main-page__wrapper">
    <h1 class="main-page__title">{{ page.title | escape }}</h1>
    <div class="main-page__content-wrapper">
        {{ page.content }}
    </div>
</div>

{% schema %}
{
    "name": "Main Page",
    "tag": "section",
    "class": "main-page__container",
    "settings": []
}
{% endschema %}
