{{ 'customer.css' | asset_url | stylesheet_tag }}

{% if customer.has_account == null %}
    <div class="main-register__wrapper">
        <h1>Create Account</h1>
        <div class="main-register__form-wrapper">
            {% form 'create_customer', return_to: routes.all_products_collection_url %}
                {{ form.errors | default_errors }}

                <div class="main-register__input-wrapper">
                    <label for="first-name">First Name</label>
                    <input type="text" name="customer[first_name]" id="first-name" required>
                </div>

                <div class="main-register__input-wrapper">
                    <label for="last-name">Last Name</label>
                    <input type="text" name="customer[last_name]" id="last-name" required>
                </div>

                <div class="main-register__input-wrapper">
                    <label for="email">Email</label>
                    <input type="email" name="customer[email]" id="email" required>
                </div>

                <div class="main-register__input-wrapper">
                    <label for="password">Password</label>
                    <input
                        type="password"
                        name="customer[password]"
                        id="password"
                        minlength="8"
                        required
                    >
                </div>

                <div class="main-register__input-wrapper">
                    <input type="submit" value="Create Account" class="submit-btn">
                    <p class="main-login__register-link">
                        Already a Customer? <a href="{{ routes.account_login_url }}">Login →</a>
                    </p>
                </div>
            {% endform %}
        </div>
    </div>
{% else %}
    <p class="main-register__logged-in-text">You're already logged in!</p>
{% endif %}
{% schema %}
{
    "name": "Customer Registration",
    "tag": "section",
    "class": "main-register__container",
    "settings": []
}
{% endschema %}
