{{ 'newsletter.css' | asset_url | stylesheet_tag }}
<div class="newsletter__wrapper">
    {% form 'customer' %}
        <input
            class="newsletter__input"
            type="email"
            id="email-newsletter"
            name="contact[email]"
            placeholder="Enter your email address"
        >
    {% endform %}
</div>

{% schema %}
{
    "name": "Newsletter",
    "tag": "section",
    "class": "newsletter__container",
    "settings": []
}
{% endschema %}
