{{ 'product-recommendations.css' | asset_url | stylesheet_tag }}
<div class="product-recommendations__wrapper">
    <div>
        <h2>You may also like</h2>
    </div>
    <div></div>
</div>

{% schema %}
{
    "name": "Product Recommendations",
    "tag": "section",
    "class": "product-recommendations__container",
    "settings": [],
    "presets": [
        {
            "name": "Related Products"
        }
    ]
}
{% endschema %}
