{{ 'flickity.min.css' | asset_url | stylesheet_tag }}
{{ 'product-slider.css' | asset_url | stylesheet_tag }}
<script src="{{ 'flickity.pkgd.min.js' | asset_url }}" defer></script>
<script src="{{ 'product-slider.js' | asset_url }}" defer></script>

<div class="product-slider__container">
    <div class="product-slider__header">
        <h3>Collection</h3>
        <a href="">Collection Link</a>
    </div>
    <div
        class="product-slider__carousel"
    >
        <div class="product-slider__carousel-cell"></div>
        <div class="product-slider__carousel-cell"></div>
        <div class="product-slider__carousel-cell"></div>
        <div class="product-slider__carousel-cell"></div>
        <div class="product-slider__carousel-cell"></div>
    </div>
</div>

{% schema %}
{
    "name": "Product Slider",
    "tag": "section",
    "class": "product-slider__container",
    "settings": [
        {
            "type": "text",
            "id": "header",
            "label": "Carousel Header",
            "default": "Header for Carousel",
            "info": "This is the header that goes on the left of the carousel. Pointing to the selected collection",
        },
        {
            "type": "text",
            "id": "link",
            "label": "Link to Collection Text",
            "default": "Link to Collection",
        },
        {
            "type": "collection",
            "id": "collection",
            "label": "Collection to Display",
        }
    ],
    "presets": [
        {
            "name": "Product Slider"
        }
    ]
}
{% endschema %}
