{{ 'related-products.css' | asset_url | stylesheet_tag }}
<div class="related-products__wrapper">
    <div>
        <h2>You may also like</h2>
    </div>
    <div></div>
</div>

{% schema %}
{
    "name": "Related Products",
    "tag": "section",
    "class": "related-products__container",
    "settings": [],
    "presets": [
        {
            "name": "Related Products"
        }
    ]
}
{% endschema %}
