dialog.product-slider__modal {
    width: 75%;
    height: 70%;
    border: none;
    padding: 0 1vh;
    opacity: 0;
    transform: translateY(-25px);
    transition: all 500ms ease allow-discrete;
}

dialog.product-slider__modal:open {
    opacity: 1;
    transform: translateY(0);
}

@starting-style {
    dialog.product-slider__modal:open {
        opacity: 0;
        transform: translateY(20px);
    }
}

.product-slider__carousel-dialog-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

dialog.product-slider__modal::backdrop {
    background-color: rgba(0, 0, 0, 0);
    transition: all 500ms ease allow-discrete;
}

dialog.product-slider__modal:open::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

@starting-style {
    dialog.product-slider__modal:open::backdrop {
        background-color: rgba(0, 0, 0, 0);
    }
}

.product-slider__carousel-dialog {
    width: 60%;
    height: 100%;
}

.product-slider__carousel-dialog-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.product-slider__carousel-dialog-content {
    padding: 0 2vh;
}

.product-slider__carousel-dialog-content > button:first-child {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.product-slider__carousel-dialog-product-title {
    font-size: 1.25rem;
    font-weight: 400;
}

.product-slider__carousel-dialog-product-price {
    font-size: 1.25rem;
    font-weight: 600;
}

.product-slider__carousel-dialog-product-color {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 0.5px solid black;
    background-color: var(--product-color);
    cursor: pointer;
}

.product-slider__carousel-dialog-product-color-container {
    display: flex;
    column-gap: 2vw;
}

.product-slider__carousel-dialog-product-color .tooltip {
    visibility: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -100px;
    right: 50%;
    transform: translateX(50%) translateY(10px);
    width: 15ch;
    height: 90px;
    padding: 1vh;
    text-align: center;
    font-size: 0.825rem;
    background-color: rgb(45, 45, 45);
    color: rgb(215, 215, 215);
    opacity: 0;
    transition: all 300ms ease;
}

.product-slider__carousel-dialog-product-color:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transform: translateX(50%) translateY(0);
}

.product-slider__carousel-dialog-sizes-list {
    display: flex;
    column-gap: 1vw;
    list-style: none;
    padding: 0;
}

.product-slider__carousel-dialog-sizes-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

.product-slider__carousel-dialog-size-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    transition: all 150ms ease;
}

.product-slider__carousel-dialog-size-link:hover {
    color: whitesmoke;
    background-color: rgb(60, 60, 60);
}

.product-slider__carousel-dialog-add-to-cart-container {
    margin: 3vh 0;
    width: 100%;
    height: auto;
    background-color: rgb(26, 26, 26);
    transition: all 300ms ease;
}

.product-slider__carousel-dialog-add-to-cart-container:hover {
    background-color: rgb(60, 60, 60);
}

.product-slider__carousel-dialog-add-to-cart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    font-size: 0.85rem;
    color: white !important;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: all 300ms ease;
}

.product-slider__carousel-dialog-product-description-container {
    width: 100%;
    height: auto;
    padding: 1vh 0;
}

.product-slider__carousel-dialog-product-description-container > p {
    width: 100%;
    height: auto;
    text-wrap: wrap;
    font-weight: 300;
}

.product-slider__carousel-dialog-full-details-container {
    width: 100%;
    height: auto;
    padding: 2vh 0;
    margin-top: 2vh;
    border-top: 0.1px solid rgba(175, 175, 175, 0.35);
    border-bottom: 0.1px solid rgba(175, 175, 175, 0.35);
}

.product-slider__carousel-dialog-full-details-container > a {
    display: block;
    width: 100%;
    text-align: center;
    color: rgb(130, 130, 130);
}