/* Register Page */
.main-register__container,
.main-login__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 2vw;
    margin: 7vh auto;
}

.main-register__wrapper,
.main-login__wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.main-register__wrapper h1,
.main-login__wrapper h1 {
    font-size: 1.5rem;
    font-family: 'Cormorant Unicase', serif;
    text-align: center;
    width: 100%;
    font-weight: 400;
}

.main-register__form-wrapper,
.main-login__form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 616.48px;
}

.main-register__form-wrapper form,
.main-login__form-wrapper form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main-register__input-wrapper,
.main-login__input-wrapper {
    width: 100%;
    min-height: 8vh;
    margin-bottom: 2vh;
}

.main-register__form-wrapper label,
.main-login__form-wrapper label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 1vh;
    text-transform: uppercase;
}

.main-register__input-wrapper input,
.main-login__input-wrapper input {
    width: 100%;
    height: 5vh;
    padding: 1vh 2vh;
    font-size: 0.9rem;
    border: 1px solid #e9e8e8;
    border-radius: 0;
    outline: none;
    transition: all 0.3s ease;
}

.main-register__input-wrapper input:focus,
.main-login__input-wrapper input:focus {
    border: 1px solid #828282;
}

.main-register__input-wrapper .submit-btn,
.main-login__input-wrapper .submit-btn {
    width: 100%;
    height: 5vh;
    margin-top: 2vh;
    background-color: #494949;
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.main-register__input-wrapper .submit-btn:hover,
.main-login__input-wrapper .submit-btn:hover {
    background-color: #828282;
}

.main-register__logged-in-text {
    font-size: 1.125rem;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 20vh auto;
}

@media only screen and (max-width: 1024px) {
    .main-register__wrapper,
    .main-login__wrapper {
        width: 90%;
    }

    .main-register__form-wrapper,
    .main-login__form-wrapper {
        max-width: 616.48px;
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .main-register__wrapper,
    .main-login__wrapper {
        width: 100%;
    }
}

/* Login Page */
.main-login__register-link {
    width: 100%;
    margin: 3vh auto;
    text-align: end;
    font-size: 0.9rem;
    color: #333;
}

.main-login__register-link a {
    color: #333;
    font-weight: 600;
}

/* Account Page */
.main-account__container {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 0 2vw;
    margin: 5vh auto;
}

.main-account__wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: start;
    width: 90%;
}

.main-account__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2vh;
    border-bottom: 1px solid #e9e8e8;
}

.main-account__header h1 {
    font-size: 1.5rem;
    font-family: 'Cormorant Unicase', serif;
    width: 100%;
    font-weight: 400;
}

.main-account__header a {
    font-size: 0.9rem;
    color: #333;
    font-weight: 600;
    text-transform: uppercase;
}

.main-account__content-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin: 2vh auto;
    padding: 1vh 2vh;
}

.main-account__account-details-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: start;
    width: 25%;
    border-right: 1px solid #e9e8e8;
}

.main-account__first-name, .main-account__address {
    margin: 1vh 0;
    color: #494949;
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: 400;
}

.main-account__account-details-wrapper p {
    font-size: 0.9rem;
    font-weight: 300;
    color: #333;
    margin: 1vh 0;
}

.main-account__addresses-link {
    font-size: 0.9rem;
    color: #333;
    font-weight: 500;
    text-transform: uppercase;
}