.main-search-small-screens {
    visibility: hidden;
    position: absolute;
    top: 5vh;
    left: 0px;
    width: 100vw;
    height: 15vh;
    background: white;
    z-index: 5;
    opacity: 0;
    transition: all 0.5s ease;
}

.show-main-search-small-screens {
    visibility: visible !important;
    opacity: 1 !important;
}

.predictive-search-element-small-screens {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.main-search-form-small-screens {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.header-search-input-small-screens {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    font-size: 1.4rem;
    font-family: 'Cormorant Unicase', serif;
    background-color: transparent;
    padding: 2vh 2vw;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
}

.header-search-input-small-screens::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.header-search-input-small-screens:focus {
    outline: none;
}

.header-search-input-small-screens::placeholder {
    font-family: 'Cormorant Unicase', serif;
    font-size: 1.4rem;
}

.search-icon-small-screens {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 15%;
}

@media only screen and (min-width: 768px) {
    .main-search-small-screens {
        left: -10px;
    }

    .header-search-input-small-screens {
        width: 50%;
        font-size: 2rem;
    }

    .header-search-input-small-screens::placeholder {
        font-size: 2rem;
    }

    .search-icon-small-screens {
        right: 28%;
    }
}