.sales-bar-container {
    background-color: var(--background-color);
}

.sales-bar-container > a {
    display: block;
    color: var(--text-color);
    text-decoration: none;
    text-align: center;
}