.main-product__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5vh auto;
}

.main-product__wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: start;
    width: 80%;
}

.main-product__images-wrapper {
    display: flex;
    justify-content: space-around;
    column-gap: 5px;
    width: 60%;
    padding: 0 1vh;
}

.main-product__carousel-nav {
    width: 10%;
    margin-right: 15px;
}

.main-product__carousel-nav-cell {
    width: 100%;
    opacity: 0.5;
    cursor: pointer;
}

.main-product__carousel-nav-cell:hover {
    opacity: 1;
}

.main-product__carousel-nav-cell.is-nav-selected {
    opacity: 1;
}

.main-product__carousel-main {
    width: 85%;
    margin-left: 10px;
}

.main-product__carousel-main-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main-product__carousel-main-image {
    max-width: 100%;
    image-rendering: optimizeQuality;
    height: auto;
    object-fit: contain;
}

.main-product__content-wrapper {
    width: 40%;
    padding: 0 1vh;
}

.main-product__title {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 3vh;
}

.main-product__vendor-text {
    margin-bottom: 3vh;
}

.main-product__vendor-link {
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    color: black;
    text-transform: uppercase;
}

.main-product__price {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 2vh 0;
}

.main-product__color-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: start;
    margin-bottom: 3vh;
}

.main-product__color-wrapper h3 {
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.main-product__colors-container {
    display: flex;
    column-gap: 10px;
    padding: 0;
}

.main-product__product-color {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 0.5px solid black;
    background-color: var(--product-color);
    cursor: pointer;
}

.main-product__product-color .tooltip {
    visibility: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -100px;
    right: 50%;
    transform: translateX(50%) translateY(10px);
    width: 15ch;
    height: 90px;
    padding: 1vh;
    text-align: center;
    font-size: 0.825rem;
    background-color: rgb(45, 45, 45);
    color: rgb(215, 215, 215);
    opacity: 0;
    transition: all 300ms ease;
}

.main-product__product-color:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transform: translateX(50%) translateY(0);
}

.main-product__sizes-title {
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 1vh;
}

.main-product__sizes-list {
    display: flex;
    flex-flow: row wrap;
    column-gap: 1vw;
    row-gap: 1vh;
    list-style: none;
    padding: 0;
    margin-bottom: 3vh;
}

.main-product__sizes-list-item {
    position: relative;
    width: 50px;
    height: 50px;
}

.main-product__carousel-dialog-size-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(60, 60, 60);
    transition: all 150ms ease;
    cursor: pointer;
}

input[type='radio'] {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    cursor: pointer;
    border: 1px solid black;
    background-color: white;
    transition: all 150ms ease;
}

input[type='radio']:hover {
    background-color: rgb(60, 60, 60);
}

input[type='radio']:hover + label {
    color: whitesmoke;
}

input[type='radio']:checked {
    background-color: rgb(60, 60, 60);
}

input[type='radio']:checked + label {
    color: whitesmoke;
}

.main-product__payment-btns-wrapper {
    display: flex;
    justify-content: space-between;
}

.main-product__carousel-dialog-add-to-cart {
    display: block;
    width: 49%;
    height: 50px;
    text-align: center;
    color: rgb(26, 26, 26);
    background-color: transparent;
    border: 1px solid rgb(26, 26, 26);
    border-radius: 0;
    cursor: pointer;
    transition: all 300ms ease;
}

.main-product__carousel-dialog-add-to-cart:hover {
    box-shadow: 0px 0px 3px 1px rgb(60, 60, 60);
}

.shopify-payment-button {
    width: 49%;
}

shopify-accelerated-checkout {
    --shopify-accelerated-checkout-button-block-size: 50px;
    --shopify-accelerated-checkout-button-border-radius: 0px;
    --shopify-accelerated-checkout-button-box-shadow: none;
    --shopify-accelerated-checkout-skeleton-background-color: #dedede;
    --shopify-accelerated-checkout-skeleton-animation-opacity-start: 1;
    --shopify-accelerated-checkout-skeleton-animation-opacity-end: 0.4;
    --shopify-accelerated-checkout-skeleton-animation-duration: 4s;
    --shopify-accelerated-checkout-skeleton-animation-timing-function: ease;
}

.shopify-payment-button__button:hover {

    background-color: rgb(26, 26, 26);
}

.shopify-payment-button__button--unbranded {
    background-color: rgb(26, 26, 26);
    color: whitesmoke;
    font-weight: 400;
    font-size: 0.83rem;
    text-transform: uppercase;
}

.shopify-payment-button__button--unbranded:hover:not([disabled]) {
    background-color: rgb(60, 60, 60);
}

.shopify-payment-button__button--unbranded:hover {
    background-color: rgb(60, 60, 60);
}

.main-product__description-container {
    margin: 3vh 0;
}

.main-product__description-container p {
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-wrap: balance;
}

/* Flickity Buttons */
.flickity-button {
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0;
    transition: all 500ms ease;
}

.main-product__carousel-main:hover .flickity-button,
.main-product__carousel-main-cell:hover .flickity-button {
    opacity: 1;
}

.flickity-prev-next-button.previous {
    left: 0;
}

.flickity-prev-next-button.next {
    right: 0;
}

@media only screen and (max-width: 1024px) {
    .main-product__wrapper {
        width: 100%;
    }

    .main-product__carousel-main-image {
        max-width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    .main-product__wrapper {
        flex-flow: column nowrap;
        align-items: center;
        width: 100%;
    }

    .main-product__images-wrapper {
        width: 90%;
        margin-bottom: 2vh;
    }

    .main-product__carousel-main {
        width: 100%;
        margin-left: 0;
    }

    .main-product__carousel-nav {
        width: 60px;
        margin: 0;
    }

    .main-product__carousel-nav-cell {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px;
        width: 100%;
    }

    .main-product__carousel-nav-cell img {
        width: 100%;
        height: auto;
    }

    .main-product__carousel-main {
        width: 80%;
    }

    .main-product__carousel-main-cell {
        width: 100%;
        max-height: 70vh;
    }

    .main-product__carousel-main-image {
        max-width: 100%;
    }

    .flickity-button {
        opacity: 1;
    }

    .main-product__content-wrapper {
        width: 90%;
        padding: 0 3vw;
    }

    .main-product__title {
        font-size: 1.2rem;
        margin-bottom: 2vh;
    }

    .main-product__vendor-text {
        margin-bottom: 2vh;
    }

    .main-product__vendor-link {
        font-size: 0.75rem;
    }

    .main-product__price {
        font-size: 1.2rem;
        margin: 1vh 0;
    }

    .main-product__color-wrapper {
        margin-bottom: 2vh;
    }

    .main-product__sizes-list-item {
        width: 40px;
        height: 40px;
    }

    .main-product__sizes-list {
        column-gap: 2vw;
        row-gap: 2vh;
    }

    .main-product__carousel-dialog-size-label {
        font-size: 0.85rem;
    }

    .main-product__payment-btns-wrapper {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin: 5.5vh 0;
        row-gap: 1vh;
    }

    .main-product__carousel-dialog-add-to-cart{
        display: block;
        width: 100%;
    }

    .shopify-payment-button {
        width: 100%;
    }

    .main-product__description-container p {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 500px) {
    .main-product__images-wrapper {
        width: 95%;
    }

    .main-product__carousel-nav {
        width: 50px;
    }

    .main-product__carousel-main {
        width: 90%;
    }

    .main-product_carousel-main-cell {
        width: 100%;
        max-height: 50vh;
    }

    .main-product__content-wrapper {
        width: 90%;
        padding: 0 2vw;
    }

    .main-product__title {
        font-size: 1.125rem;
    }

    .main-product__vendor-link {
        font-size: 0.7rem;
    }

    .main-product__price {
        font-size: 1.15rem;
    }

    .main-product__color-wrapper h3 {
        font-size: 0.75rem;
    }

    .main-product__sizes-title {
        font-size: 0.75rem;
    }
}
