.main-page__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 6vh auto 3vh auto;
    height: auto;
}

.main-page__wrapper {
    width: 40%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.main-page__title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
}

.main-page__content-wrapper p {
    color: rgb(60, 60, 60);
    letter-spacing: 0.5px;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
}

@media only screen and (max-width: 1024px) {
    .main-page__wrapper {
        width: 60%;
    }
}

@media only screen and (max-width: 768px) {
    .main-page__wrapper {
        width: 80%;
    }

    .main-page__title {
        font-size: 1.5rem;
    }

    .main-page__content-wrapper p {
        font-size: 0.9rem;
    }
}
