.main-search__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main-search__wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.main-search__input-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 5vh auto;
}

.main-search__input-title h1 {
    font-size: 1.3rem;
    font-weight: 300;
    color: #494949;
    text-transform: uppercase;
}

.main-search__input-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main-search__input-form form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 1vh;
    width: 50%;
}

.main-search__input-form input {
    display: inline-block;
    width: 100%;
    height: 7vh;
    border: 1px solid #e9e8e8;
    padding: 1.5vh 3vh;
    font-size: 0.85rem;
    font-weight: 300;
    transition: all 300ms ease;
}

.main-search__input-form input:focus {
    outline: none;
    border: 1px solid rgb(60, 60, 60);
}

.main-search__input-form #submit-btn {
    width: 50%;
    height: 5vh;
    margin-top: 2vh;
    background-color: #494949;
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.main-search__input-form #submit-btn:hover {
    background-color: #828282;
}

.main-search__results-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: start;
    width: 100%;
}

mobile-drawer {
    display: none;
}

.mobile-drawer-filters__btns-wrapper,
#mobile-drawer-filters__filter-tags {
    display: none;
}

@media only screen and (max-width: 1024px) {
    .main-search__wrapper {
        width: 100%;
        padding: 0 1vh;
    }
}

@media only screen and (max-width: 768px) {
    .main-search__container {
        display: block;
    }

    .main-search__wrapper {
        width: 95%;
        margin: 0 auto;
    }

    .main-search__input-form form {
        width: 100%;
    }

    .main-search__input-form input {
        font-size: 0.7rem;
    }

    .main-search__input-form #submit-btn {
        height: 5vh;
        font-size: 0.7rem;
    }
}
