.main-list-collections__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 4vh auto;
}

.main-list-collections__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.main-list-collections__wrapper h1 {
    font-size: 1.5rem;
    font-family: 'Cormorant Unicase', serif;
    width: 100%;
    font-weight: 400;
}

.main-list-collections__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-auto-rows: auto;
    column-gap: 2vh;
    row-gap: 2vh;
    width: 100%;
    padding: 0;
    list-style: none;
}

.main-list-collections__figure {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
}

.main-list-collections__figure a.main-list-collections__link-figure {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.main-list-collections__image {
    width: 100%;
    height: 100%;
    object-position: top;
    object-fit: cover;
}

.main-list-collections__caption-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 12%;
    padding: 0 2vh;
    background-color: #202020;
    opacity: 0.9;
}

.main-list-collections__caption-wrapper a {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
}

.main-list-collections__title {
    font-size: 0.9rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 0.8;
    transition: all 300ms ease;
}

.main-list-collections__title span {
    margin-left: 5px;
}

.main-list-collections__caption-wrapper:hover .main-list-collections__title {
    text-decoration: underline;
    opacity: 1;
}

@media only screen and (max-width: 1024px) {
    .main-list-collections__wrapper {
        width: 100%;
        padding: 0 2vh;
    }
    
    .main-list-collections__caption-wrapper {
        height: 15%;
    }

    .main-list-collections__title {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 768px) {
    .main-list-collections__wrapper {
        padding: 0 1vh;
    }

    .main-list-collections__list {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1vh;
        row-gap: 1vh;
    }

    .main-list-collections__caption-wrapper {
        height: 20%;
    }
    
    .main-list-collections__title {
        font-size: 0.7rem;
    }
}