.main-cart__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main-cart__wrapper {
    width: 80%;
    padding: 4vh 0;
}

.main-cart__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 0;
    border-bottom: 1px solid #e9e8e8;
}

