#subnavbar-wrapper-sm {
    display: block;
}

.nav-list-mobile {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5vw;
    list-style: none;
}

#hamburguer-menu-container {
    width: 40px;
    height: 30px;
    z-index: 10;
}

.hamburger-menu-mobile {
    max-width: 100%;
    margin: 0 auto;
    max-height: 100%;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.hamburguer-line {
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 5px auto;
    border-radius: 50px;
    transition: all 200ms ease;
}

.first-line {
    width: 29px;
    transform: rotate(45deg) translateX(4px) translateY(6px);
}

.second-line {
    opacity: 0;
}

.third-line {
    width: 29px;
    transform: rotate(-45deg) translateX(4px) translateY(-6px);
}

#logo-mobile {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}

.mobile-navbar__links-container {
    position: absolute;
    top: 12%;
    left: 0;
    width: 60%;
    height: 100%;
    background-color: white;
    z-index: 8;
}

@media only screen and (min-width: 768px) {
    #subnavbar-wrapper-sm {
        display: none;
    }
}

@media only screen and (min-height: 700px) {
    .mobile-navbar__links-container {
        top: 14%;
    }
}