#subnavbar-wrapper-sm {
    display: block;
}

.nav-list-mobile {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5vw;
    list-style: none;
}

#hamburguer-menu-container {
    width: 40px;
    height: 30px;
    z-index: 10;
}

.hamburger-menu-mobile {
    max-width: 100%;
    margin: 0 auto;
    max-height: 100%;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.hamburguer-line {
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 5px auto;
    border-radius: 50px;
    transition: all 200ms ease;
}

.first-line {
    width: 29px;
    transform: rotate(45deg) translateX(4px) translateY(6px);
}

.second-line {
    opacity: 0;
}

.third-line {
    width: 29px;
    transform: rotate(-45deg) translateX(4px) translateY(-6px);
}

#logo-mobile {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}

.mobile-navbar__container {
    position: absolute;
    top: 13vh;
    width: 100%;
    min-height: 100vh;
    left: 0;
    z-index: 8;
    overflow: hidden;
    opacity: 0;
    transition: all 100ms ease;
}

.mobile-navbar__container-background {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.mobile-navbar__links-container {
    position: absolute;
    top: 0;
    width: 85%;
    height: 100%;
    background-color: white;
}

.mobile-navbar__links {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
    height: 100%;
    width: 100%;
    padding: 0 4vw;
}

.mobile-navbar__primary-list {
    width: 100%;
    margin-bottom: 15vh;
    padding: 0;
    list-style: none;
}

.mobile-navbar__primary-item {
    width: 100%;
    padding: 2vh 0;
    margin: 2vh 0;
}

.mobile-navbar__primary-inner-link {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.mobile-navbar__secondary-list {
    width: 100%;
    padding: 0;
    list-style: none;
}

.mobile-navbar__secondary-item {
    width: 100%;
    padding: 2vh 0;
}

.mobile-navbar__secondary-inner-link {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
    width: 100%;
    text-decoration: none;
}

.mobile-navbar__secondary-inner-link > .item-text {
    font-size: 1rem;
    font-weight: 600;
    color: black;
    margin-right: 5vw;
}

/* Mobile Mega Menus */
.mobile-navbar__mega-menu-container {
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background-color: white;
    display: none;
    opacity: 0;
    padding: 2vh;
    z-index: 8;
    transition: all 100ms ease;
}

.mobile-navbar__mega-menu-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
    padding: 2vh 0;
    border-bottom: 0.5px solid darkgray;
}

.mobile-navbar__mega-menu-back {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
}


.mobile-navbar__show-mega-menu {
    left: 0;
    opacity: 1;
}

.mobile-navbar__mega-menu-title {
    font-size: 1.25rem;
    width: 80%;
    text-align: center;
    letter-spacing: -0.5px;
}

.mobile-navbar__mega-menu-list {
    list-style: none;
    padding: 2vh 0;
}

.mobile-navbar__item-title {
    font-size: 0.9rem;
    font-weight: 600;
    color: rgb(72, 72, 72);
    margin-bottom: 1vh;
}

.mobile-navbar__mega-menu-sublist {
    list-style: none;
    padding: 0;
}

.mobile-navbar__mega-menu-subitem {
    padding: 1vh 0;
}


@media only screen and (min-width: 768px) {
    #subnavbar-wrapper-sm {
        display: none;
    }
}

@media only screen and (min-height: 760px) {
    .mobile-navbar__container {
        top: 11.5vh;
    }
}