#subnavbar-wrapper-xl {
    display: none;
}

.subnavbar-wrapper {
    padding: 1.5vh 1vw;
}

.nav-list {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-link {
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 500;
}

#logo {
    order: 2;
}

#second-item {
    order: 1;
}

#third-item {
    order: 3;
}

#fourth-item {
    position: absolute;
    right: 1vw;
    order: 4;
}

.inner-list {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.inner-item {
    height: 100%;
}

.inner-item:not(:first-child) {
    margin-left: 2vw;
}

.inner-item > a {
    text-decoration: none;
    color: black;
    transition: all 100ms ease;
}

.underline {
    border-bottom: 1px solid black;
}

.search-input {
    padding: 1.25vh;
    border: 1px solid gray;
}

.search-input::placeholder {
    color: gray;
    font-size: 0.7rem;
    font-weight: 300;
}

@media only screen and (min-width: 768px) {
    #subnavbar-wrapper-xl {
        display: none;
    }
}

@media only screen and (min-width: 1024px) {
    #subnavbar-wrapper-xl {
        display: block;
    }
}
