.product-slider__container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    /* overflow-x: hidden; */
    width: 100%;
    padding: 3.5vh 0;
    column-gap: 10vh;
}

.product-slider__carousel {
    width: 70%;
    background: #eee;
}

.product-slider__carousel-cell {
    width: 24%;
    height: 400px;
    margin-right: 10px;
    background: #8c8;
    border-radius: 5px;
    counter-increment: carousel-cell;
}

/* cell number */
.product-slider__carousel-cell:before {
    display: block;
    text-align: center;
    /* content: counter(carousel-cell); */
    line-height: 200px;
    font-size: 80px;
    color: white;
}
